.spacer {
    flex: 1;
  }

.paths{
    left: 100px;
  }
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1177dd;
    color: white;
    font-weight: 600;
  }

  .header img {
    margin: 0 16px;
  }

  .header #products,.header #about {
    margin: 0 25px;
    color: white;
  }

  .header #products:hover,
  .header #about:hover {
    opacity: 0.8;
  }

